@model HealthOS.ViewModels.DiseasesViewModel

@{
    ViewBag.Title = "Choroby oraz alergie";
    Layout = "_Layout";
}

<div class="break"></div>
@*Menu*@
<div class="row">
    <div class="col col-2">
        <div id="menu-diseas" class="row diseas-select" onclick="selectDiseas()">
            Przebyte choroby
        </div>
        <div id="menu-allergy" class="row diseas-select" onclick="selectAllergies()" style="background: #90BAF4">
            Alergie
        </div>
        <div class="row break"></div>
        <div class="row">
            <button id="add-diseas-button" data-toggle="modal" data-target="#modalAddDiseas" class="btn btn-lg btn-primary" style="width: 100%;margin-left: 2%; margin-right: 2%; background: #103A75; border-width: 0px; max-width: 96%;">Dodaj chorobę</button>
        </div>
        <div class="break"></div>
        <div class="row">
            <button id="add-drug-button" data-toggle="modal" data-target="#modalAddAllergy" class="btn btn-lg btn-primary" style="width: 100%;margin-left: 2%; margin-right: 2%; background: #103A75; border-width: 0px; width: 96%;">Dodaj alergię</button>
        </div>
    </div>
    @*Body*@
    <div class="col col-10">
        <div id="diseas">
            @foreach (var diseas in @Model.Diseases)
            {
                <div class="row">
                    <div class="col col-3 diseas-name">
                        @diseas.Name
                    </div>
                    <div class="col col-4 diseas-description">
                        @diseas.Description
                    </div>
                    <div class="col col-3 diseas-duration">
                        <p>Rozpoczęcie choroby: @diseas.StartDate.ToString("d")</p>
                        @{
                            var diseasEnded = string.Empty;
                            if (@diseas.EndDate != null)
                            {
                                diseasEnded = "Zakończenie choroby: " + ((DateTime)@diseas.EndDate).ToString("d");
                            }
                        }
                        <p>@diseasEnded</p>
                    </div>
                    <div class="col col-2">
                        <button onclick="updateModal(@diseas.Id, '@diseas.Name','@diseas.Description', '@diseas.StartDate.ToString("yyyy-MM-dd")', '@diseas.EndDate?.ToString("yyyy-MM-dd")');" class="btn btn-lg btn-primary" style="margin-left: 1%; margin-right: 1%; background: #daa520; border-width: 0px;">Edytuj</button>
                        <button id="@diseas.Id" type="button" onclick="deleteDiseas(@diseas.Id)" class="btn btn-lg btn-primary" style="margin-left: 1%; margin-right: 1%; background: #BA211B; border-width: 0px">Usuń</button>
                    </div>
                </div>
                <div class="diseas-break"></div>
            }
        </div>
        <div id="allergy" hidden="true">
            <div class="row">
                <div class="col col-6 diseas-name">
                    Nazwa alergii
                </div>
                <div class="col col-2 diseas-name" style="align-items: center; display: flex;">
                    Opcje
                </div>
                <div class="break"></div>
            </div>
            @foreach (var allergy in @Model.Allergies)
            {
                <div class="row">
                    <div class="col col-6 allergy-name">
                        @allergy.Value
                    </div>
                    <div class="col col-2 diseas-duration" style="align-items: center; display: flex;">
                        <button id="@allergy.Id" type="button" onclick="deleteAllergy(@allergy.Id)" class="btn btn-lg btn-primary" style="margin-left: 1%; margin-right: 1%; background: #BA211B; border-width: 0px">Usuń</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*modal box add drug allergy*@
<div class="modal" id="modalAddAllergy" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Dodaj alergię</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="input-allergyName">Nazwa alergii:</label>
                        <input id="input-allergyName" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button id="add-allergy-button-clicked" type="submit" data-dismiss="modal" class="btn btn-primary">Wyślij wiadomość</button>
            </div>
        </div>
    </div>
</div>
@* Modal box add allergy ends *@

@*modal box add diseas*@
<div class="modal" id="modalAddDiseas" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Dodaj przebytą chorobę</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="input-diseasName">Na jaką chorobę chorowałeś:</label>
                        <input id="input-diseasName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasDescription">Opis przebiegu choroby:</label>
                        <input id="input-diseasDescription" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasStartDate">Początek choroby (data):</label>
                        <input id="input-diseasStartDate" type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasEndDate">Choroba wyleczona (data):</label>
                        <input id="input-diseasEndDate" type="date" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button id="add-diseas-button-clicked" type="submit" data-dismiss="modal" class="btn btn-primary">Wyślij wiadomość</button>
            </div>
        </div>
    </div>
</div>
@* Modal box add diseas ends *@

@*modal box edit diseas*@
<div class="modal" id="modalEditDiseas" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div id="diseasid" style="visibility: hidden"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Dodaj przebytą chorobę</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="input-diseasNameUpdate">Na jaką chorobę chorowałeś:</label>
                        <input id="input-diseasNameUpdate" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasDescriptionUpdate">Opis przebiegu choroby:</label>
                        <input id="input-diseasDescriptionUpdate" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasStartDateUpdate">Początek choroby (data):</label>
                        <input id="input-diseasStartDateUpdate" type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="input-diseasEndDateUpdate">Choroba wyleczona (data):</label>
                        <input id="input-diseasEndDateUpdate" type="date" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button id="edit-diseas-button-clicked" type="submit" data-dismiss="modal" class="btn btn-primary">Wyślij wiadomość</button>
            </div>
        </div>
    </div>
</div>
@* Modal box edit diseas ends *@

<style>
    .diseas-select {
        background: #103A75;
        color: #ffffff;
        height: 50px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        margin-left: 0%;
        margin-right: 0%;
        width: 101%;
    }

    .diseas-name {
        background: #103A75;
        color: #ffffff;
        height: 60px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        overflow: scroll;
        scrollbar-arrow-color: #103a75;
        word-wrap: break-word;
        overflow-x: hidden;
        width: 100%;
    }

    .diseas-break {
        height: 1px;
        background: white;
    }

    .diseas-description {
        background: #1D6CC1;
        color: #ffffff;
        height: 60px;
        font-size: 15px;
        overflow: scroll;
        scrollbar-arrow-color: #103a75;
        word-wrap: break-word;
        overflow-x: hidden;
        width: 100%;
    }

    .diseas-duration {
        background: #90BAF4;
        color: #ffffff;
        height: 60px;
        font-size: 15px;
        vertical-align: middle;
        overflow: scroll;
        scrollbar-arrow-color: #103a75;
        word-wrap: break-word;
        overflow-x: hidden;
        max-width: 100%;
    }

    .allergy-name {
        background: #90BAF4;
        color: #ffffff;
        height: 60px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        scrollbar-arrow-color: #103a75;
        overflow: scroll;
        word-wrap: break-word;
        overflow-x: hidden;
        width: 100%;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #00bfff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #1d6cc1;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #1d6cc1;
        }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    function selectDiseas() {
        document.getElementById("menu-allergy").style.backgroundColor = "#90BAF4";
        document.getElementById("menu-diseas").style.backgroundColor = "#103A75";
        document.getElementById("allergy").hidden = true;
        document.getElementById("diseas").hidden = false;
    }
    function selectAllergies() {
        document.getElementById("menu-allergy").style.backgroundColor = "#103A75";
        document.getElementById("menu-diseas").style.backgroundColor = "#90BAF4";
        document.getElementById("allergy").hidden = false;
        document.getElementById("diseas").hidden = true;
    }
    // add allergy
    $(document).ready(function () {
        $("#add-allergy-button-clicked").click(function () {
            $.ajax({
                url: '/api/Allergy',
                type: 'POST',
                dataType: "application/json",
                contentType: 'application/json',
                data: JSON.stringify({
                    Value: document.getElementById("input-allergyName").value
                }),
                complete: function () {
                    location.reload();
                }
            });
        });
    });
    // add diseas
    $(document).ready(function () {
        $("#add-diseas-button-clicked").click(function () {
            $.ajax({
                url: '/api/Diseas',
                type: 'POST',
                dataType: "application/json",
                contentType: 'application/json',
                data: JSON.stringify({
                    Name: document.getElementById("input-diseasName").value,
                    Description: document.getElementById("input-diseasDescription").value,
                    StartDate: document.getElementById("input-diseasStartDate").value,
                    EndDate: document.getElementById("input-diseasEndDate").value
                }),
                complete: function () {
                    location.reload();
                }
            });
        });
    });
    // update 
    $(document).ready(function () {
        $("#edit-diseas-button-clicked").click(function () {
            $.ajax({
                url: '/api/Diseas/' + document.getElementById("diseasid").value,
                type: 'PUT',
                dataType: "application/json",
                contentType: 'application/json',
                data: JSON.stringify({
                    Name: document.getElementById("input-diseasNameUpdate").value,
                    Description: document.getElementById("input-diseasDescriptionUpdate").value,
                    StartDate: document.getElementById("input-diseasStartDateUpdate").value,
                    EndDate: document.getElementById("input-diseasEndDateUpdate").value
                }),
                complete: function () {
                    location.reload();
                }
            });
        });
    });

    // delete allergy
    function deleteAllergy(id) {
        $.ajax({
            url: '/api/Allergy/' + id,
            type: 'DELETE',
            complete: function () {
                location.reload();
                selectAllergies();
            }
        });
    }
    // delete diseas
    function deleteDiseas(id) {
        $.ajax({
            url: '/api/Diseas/' + id,
            type: 'DELETE',
            complete: function () {
                location.reload();
            }
        });
    }

    function updateModal(id, name, description, startdate, enddate) {
        document.getElementById("diseasid").value = id;
        document.getElementById("input-diseasNameUpdate").value = name;
        document.getElementById("input-diseasDescriptionUpdate").value = description;
        document.getElementById("input-diseasStartDateUpdate").value = startdate;
        document.getElementById("input-diseasEndDateUpdate").value = enddate;

        $("#modalEditDiseas").modal();
    }
</script>